<img src="img/CSK_banner.PNG" alt="banner">
# A (Brief) Introduction to Data Science
**CSK 2020**

Welcome to the wild world of data science! This is a notebook designed for UC Berkeley's CS Kickstart program, specifically . Feel free to read through this lab and interact with the content.

## Table of Contents
- The Jupyter Notebook
- "The Data Science Life Cycle"
- Data Analysis 
- Hypothesis and Predictions
- Next Steps


# 0: The Jupyter Notebook
[Jupyter Notebook](https://jupyter.org/) is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. The file that we are on now is a jupyter notebook, and it's used fairly extensively in the data science industry. It consists of a series of cells that you can run in real time.

Here's a quick rundown on how to use this notebook.

## 0.1 Cells
This notebook is made out of a series of cells. A cell is a multiline text input field, and its contents can be executed by using Shift-Enter, or by clicking either the “Play” button (▶|) in the toolbar, or Cell, Run in the menu bar. 

There are three types of cells:
- code cells
- markdown cells
- raw cells

You don't need to worry about the last type of cell; we'll be dealing with the first two today.
### 0.1.1 Code Cells
Code cells are cells where we can write and run code in python. Here's an example of a code cell, see if you can run it by pressing Shift-Enter (or Cell->Run in the menu)

In [49]:
print('hello world')

hello world

If you ran the cell correctly, the notebook should output the words "hello world". Pretty neat huh?

### 0.1.1 Markdown Cells
Markdown cells are cells like this one where we can write text and have it display in the notebook. In this notebook the only time you'll have to edit these types of cells will be in some free response answers like the one below. Edit the following cell and run it to see the text!

**Question 0.1** What's your name and favorite food?

*YOUR ANSWER HERE*

# 1."The Data Science Life Cycle"

The first thing we can ask ourselves about this question is "what exactly *is* data science in the first place?"

The [data8 textbook](https://www.inferentialthinking.com/chapters/01/1/intro.html) says the following about data science.
> Data Science is about drawing useful conclusions from large and diverse data sets through exploration, prediction, and inference. Exploration involves identifying patterns in information. Prediction involves using information we know to make informed guesses about values we wish we knew. Inference involves quantifying our degree of certainty: will the patterns that we found in our data also appear in new observations?

Hopefully we can continue to develop this definition during today's lab, starting off with a concept called the "data science life cycle."

## 1.1 The Life Cycle, deconstructed
The steps to the cycle are as follows: 
1. Formulating a question or problem
2. Acquiring and cleaning data
3. Conducting exploratory data analysis
4. Using prediction and inference to draw conclusions

In [50]:
## cleaning data real quick 
from datascience import *
import pandas as pd 

by_maj = Table.read_table('data/by_major.csv')
#bm = pd.read_csv('data/by_major.csv')
by_min = Table.read_table('data/by_minors.csv')
gender_ethnicity = Table.read_table('data/level_gender_ethnicity.csv')
STEM_all = Table.read_table('data/STEM_collegewide.csv')
STEM_major = Table.read_table('data/STEM_majors.csv')
STEM_pipeline = Table.read_table('data/STEM_pipeline.csv')
student_maj = Table.read_table('data/student_majors.csv')

In [51]:
stem_gender = by_maj.select(['STEM Flag', 'Gender'])
stem_gender.group('STEM Flag')

STEM Flag | count
0         | 8826
1         | 9199

In [60]:
t = stem_gender.where('STEM Flag', 0).group('Gender')

In [61]:
t.bar('Gender', 'count')

In [54]:
gender_ethnicity

Academic Yr | Degree Level Desc | Person Gender Desc | Ucb Level1 Ethnic Rollup Desc | Headcount
2011-12     | Bachelor          | Female             | Asian/Pacific Islander        | 1524
2011-12     | Bachelor          | Female             | International                 | 254
2011-12     | Bachelor          | Female             | Underrepresented Minority     | 656
2011-12     | Bachelor          | Female             | White/Other                   | 1452
2011-12     | Bachelor          | Male               | Asian/Pacific Islander        | 1310
2011-12     | Bachelor          | Male               | International                 | 280
2011-12     | Bachelor          | Male               | Underrepresented Minority     | 447
2011-12     | Bachelor          | Male               | White/Other                   | 1390
2011-12     | Doctoral          | Female             | Asian/Pacific Islander        | 61
2011-12     | Doctoral          | Female             | International                 | 62
... (201 rows omitted)

In [55]:
STEM_all

Year    | Institution | Type    | Gender | CIP Fld                                    | Degree Count
2016-17 | Harvard     | Private | Female | Archeology                                 | 5
2016-17 | Harvard     | Private | Female | Behavioral Sciences                        | 11
2016-17 | Harvard     | Private | Female | Biological and Biomedical Sciences         | 164
2016-17 | Harvard     | Private | Female | Cognitive Psychology and Psycholinguistics | 0
2016-17 | Harvard     | Private | Female | Computer Science                           | 65
2016-17 | Harvard     | Private | Female | Engineering                                | 26
2016-17 | Harvard     | Private | Female | Environmental Studies                      | 14
2016-17 | Harvard     | Private | Female | Experimental Psychology                    | 87
2016-17 | Harvard     | Private | Female | Mathematics and Statistics                 | 78
2016-17 | Harvard     | Private | Female | Natural Sciences                           | 10
... (278 rows omitted)

In [56]:
STEM_major

Semester    | STEM Flg | CIP Field                          | Gender             | Ethnicity                 | Headcount
Spring 2020 | Not STEM | Not STEM                           | All Other Students | Asian/Pacific Islander    | 547
Spring 2020 | Not STEM | Not STEM                           | All Other Students | International             | 200
Spring 2020 | Not STEM | Not STEM                           | All Other Students | Underrepresented Minority | 707
Spring 2020 | Not STEM | Not STEM                           | All Other Students | White/Other               | 827
Spring 2020 | Not STEM | Not STEM                           | Female             | Asian/Pacific Islander    | 1,201
Spring 2020 | Not STEM | Not STEM                           | Female             | International             | 296
Spring 2020 | Not STEM | Not STEM                           | Female             | Underrepresented Minority | 1,419
Spring 2020 | Not STEM | Not STEM                           | Female             | White/Other               | 1,386
Spring 2020 | STEM     | Biological And Biomedical Sciences | All Other Students | Asian/Pacific Islander    | 343
Spring 2020 | STEM     | Biological And Biomedical Sciences | All Other Students | International             | 37
... (70 rows omitted)

In [57]:
STEM_pipeline

Timepoint | STEM Flg | Applicant Type   | Gender             | Ethnicity                 | Headcount
Admitted  | Not STEM | Freshman Entrant | All Other Students | Asian/Pacific Islander    | 7,391
Admitted  | Not STEM | Freshman Entrant | All Other Students | International             | 2,207
Admitted  | Not STEM | Freshman Entrant | All Other Students | Underrepresented Minority | 4,433
Admitted  | Not STEM | Freshman Entrant | All Other Students | White/Other               | 9,147
Admitted  | Not STEM | Freshman Entrant | Female             | Asian/Pacific Islander    | 12,700
Admitted  | Not STEM | Freshman Entrant | Female             | International             | 3,333
Admitted  | Not STEM | Freshman Entrant | Female             | Underrepresented Minority | 8,718
Admitted  | Not STEM | Freshman Entrant | Female             | White/Other               | 12,933
Admitted  | Not STEM | Transfer Entrant | All Other Students | Asian/Pacific Islander    | 1,961
Admitted  | Not STEM | Transfer Entrant | All Other Students | International             | 1,090
... (150 rows omitted)

In [58]:
student_maj

Academic Yr | Ungrad Grad Cd | Term/Year | Term Period | College/School   | Division         | Department              | Major                | Gender | Ethnicity                 | Headcount | Prorated Headcount | Number of Records | Entry Status Desc | MajorShort | STEM Flag | Residency Status Desc | Residency Fee Cd
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Female | Asian/Pacific Islander    | 10        | 10                 | 1                 | Graduate          | Chem Eng   | STEM      | CA Resident           | CA Resident
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Female | Asian/Pacific Islander    | 7         | 7                  | 1                 | Graduate          | Chem Eng   | STEM      | Out-of-State Domestic | Out-of-State Domestic
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Female | International             | 18        | 18                 | 1                 | Graduate          | Chem Eng   | STEM      | International         | International
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Female | Underrepresented Minority | 3         | 3                  | 1                 | Graduate          | Chem Eng   | STEM      | CA Resident           | CA Resident
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Female | Underrepresented Minority | 1         | 1                  | 1                 | Graduate          | Chem Eng   | STEM      | Out-of-State Domestic | Out-of-State Domestic
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Female | White/Other               | 22        | 22                 | 1                 | Graduate          | Chem Eng   | STEM      | CA Resident           | CA Resident
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Female | White/Other               | 5         | 5                  | 1                 | Graduate          | Chem Eng   | STEM      | Out-of-State Domestic | Out-of-State Domestic
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Male   | Asian/Pacific Islander    | 16        | 16                 | 1                 | Graduate          | Chem Eng   | STEM      | CA Resident           | CA Resident
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Male   | Asian/Pacific Islander    | 1         | 1                  | 1                 | Graduate          | Chem Eng   | STEM      | Out-of-State Domestic | CA Resident
2018-19     | Graduate       | 2018 Fall | Fall        | Clg of Chemistry | Clg of Chemistry | Chem & Biomolecular Eng | Chemical Engineering | Male   | Asian/Pacific Islander    | 6         | 6                  | 1                 | Graduate          | Chem Eng   | STEM      | Out-of-State Domestic | Out-of-State Domestic
... (85053 rows omitted)

# 2. Data Analysis

# 3. Hypothesis and Prediction

# 4. Next Steps

---

Developed by Catherine Gee, <>. 

Materials and content adapted from [*Computational and Inferential Thinking*](https://www.inferentialthinking.com/chapters/intro.html) by Ani Adihikari and John Denero; [*Principles and Techniques of Data Science*](https://www.textbook.ds100.org/intro.html) by Sam Lau, Joey Gonzalez, and Deb Nolan.